{% extends "themes/default.html" %}

{% block textcontent %}
	
	<h2>Download:</h2>
	<p>
		A first download is coming very soon. I'm currently finishing the first version. I want to have a fully documented source and
		great introduction on this website so that you can start builing from the first day.
	</p>
	<p>
		Btw, this website here is already completely 
		built with Fourstatic!
	</p>
	<p>
		:-)
	</p>
	
	<h2>License</h2>
	<p>
		Fourstatic is open source and MIT licensed.
	</p>
	
{% endblock %}