{% extends "themes/default.html" %}

{% block textcontent %}
	
	<p>
		Fourstatic helps you create static webpages that rule! It's a no-cms solution based on the <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> templating engine.
		We created something super simple and lightweight, that makes your work so much easier.
	<p>
		
	<h2>Some features:</h2>
	<ul>
		<li>Page themes with template inheritance and content macros</li>
		<li>Smart data organization and structure with merge capability</li>
		<li>Multiple data format support: <a href="http://www.json.org/" target="_blank">JSON</a>, <a href="http://www.yaml.org/" target="_blank">YAML</a>, XML, CSV and PHP</li>
		<li>Support for external <a href="http://www.json.org/" target="_blank">JSON</a> API's</li>
		<li>Dynamic relative urls for pages and media</li>
		<li>Secure live development with merge functionality</li>
		<li>Super easy thumbnails that are cached</li>
		<li><a href="http://sass-lang.com/" target="_blank">Sass</a> and <a href="http://lesscss.org/" target="_blank">Less</a> support, shipped with mixin libraries</li>
		<li><a href="http://daringfireball.net/projects/markdown/" target="_blank">Markdown</a> and <a href="http://coffeescript.org/" target="_blank">CoffeeScript</a> support</li>
		<li>Fully cached for fast load times</li>
		<li>Super easy one minute installation</li>
		<li>Shipped with <a href="http://jquery-jkit.com/" target="_blank">jKit</a> macros and a nice boilerplate</li>
		<li>Open source (MIT licensed)</li>
		<li>And more ...</li>
	</ul>
	
	<h2>Objectives:</h2>
	<ul>
		<li>Avoid a steap learning curve</li>
		<li>Work with the tools you know</li>
		<li>Remove the dangers of live editing</li>
		<li>Automate as much as possible</li>
		<li>Support proven, modern, popular technology</li>
		<li>Flexible and extendable</li>
	</ul>
	
	<h2>Requirements:</h2>
	<p>PHP 5</p>
	
	<h2>Download:</h2>
	<p>Coming soon ...</p>
	
{% endblock %}